* {
    font-family: "Lato";
    margin: 0;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
    
    
}

.header {
    height: 89px;
    background-color: #2d303a;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 25px;
    font-weight: 700;
    margin-left: 40px;
}

.red-logo {
    color: #f06c64;

}

.nav {
    margin-right: 40px;
    width: 370px;
    border: 2px solid green;
    
    
}

.nav-ul {
    display: flex;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.nav-ul-li{
    display: flex;
    font-weight: 700;
    align-items: center;
    border: 2px solid purple;
}

.under-header {
    height: 6px;
    background-color: #323746;
}

.slider {
    height: 600px;
    background-color: #f06c64;
}

.under-slider {
    height: 15px;
    background-color: #ea676b;
}

.services {
    height: 495px;
    background-color: #f2f2f2;
}

.services-icon {
    width: 59px;
    height: 59px;
    border: 2px solid #666d89;
    border-radius: 50%;

}