@import url("singolo1-fonts.css");

* {
    font-family: "Lato";
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;    
}

a:hover {
    cursor: pointer;
}

.header {
    height: 89px;
    background-color: #2d303a;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 6px solid #323746
}

.logo {
    display: flex;
}
.h1-logo {
    font-size: 25px;
    font-weight: 700;
    margin-left: 40px;
    text-transform: uppercase;
}

.red-logo {
    font-size: 25px;
    font-weight: 700;
    color: #f06c64;
}

.nav {
    margin-right: 40px;
    width: 370px;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.nav-ul-li {
    display: flex;
    font-size: 11px;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
}

.nav-ul-li-a {
    text-decoration: none;
    color: #ffffff;
}

.nav-ul-li a:hover {
    cursor: pointer;
    color: #f06c64;
}

.nav-choosed{
    color: #f06c64;
}

.nav-ul-li:not(:last-child)::after {
    content: '\2219';
    font-size: 22px;
    color: #494e62;
    margin-left: 13px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider-navigation {
    width: 60px;
}

.slider-navigation-left {
    text-align: right;
}

.slider-navigation-left:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.slider-navigation-right:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.slider-main {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-size: 30px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-left: 40px;
}

h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
}

.services {
    padding-top: 60px;
    height: 434px;
    background-color: #f2f2f2;
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    border-bottom: 6px solid #ffffff ;
}

.services-description {
    margin: 18px 40px 0 40px;
    font-size: 18px;
    line-height: 30px;  
    font-weight: 300;
    text-align: justify;
}

.services-ul {
    list-style-type: none;
    padding: 15px 30px;
    display: flex;
    flex-wrap: wrap;
}

.services-ul-li {
    width: 300px;
    margin: 30px 10px 0 10px;
    display: flex;
        
}

.services-li-h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-bottom: 8px;
}

.services-li-description {
    width: 220px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    hyphens: auto;
}


.services-icon {
    width: 57px;
    height: 57px;
    border: 2px solid #666d89;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.pen-icon {
    background-image: url(./assets/images/pen.svg);
}

.bulb-icon {
    background-image: url(./assets/images/bulb.svg);
}

.heart-icon {
    background-image: url(./assets/images/heart.svg);
}

.phone-icon {
    background-image: url(./assets/images/phone.svg);
}

.bubble-icon {
    background-image: url(./assets/images/bubble.svg);
}

.star-icon {
    background-image: url(./assets/images/star.svg);
}

.portfolio {
    height: 803px;
    padding-top: 60px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio-description {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
    margin:  18px 30px 0 40px;
}

.portfolio-tags {
    display: flex;
    margin:  10px 30px 0 40px;
}

.portfolio-tag {
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0 8px;
    border: 1px solid #666d89;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
}

.portfolio-tag:hover {
    cursor: pointer;
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
}

.portfolio-tag-choosed {
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
}

.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    margin: 9px 30px;
    list-style-type: none;
}

.portfolio-projects__item {
    width: 220px;
    height: 187px;
    overflow: hidden;
    margin: 10px;
}

.portfolio-projects-item__pressed {
    margin: 5px;
    border: 5px solid #F06C64;
}

.portfolio-projects__item:nth-child(1n + 13) {
    display: none;
}

.aboutus {
    height: 668px;
    background-color: #f2f2f2;
    padding-top: 60px;
    color: #767e9e;
    border-bottom: 6px solid #ffffff;
}

.aboutus-team {
    display: flex;
    margin: 43px 30px 0 30px; 
}
.aboutus-team-item {
    margin: 0 10px;
}

.aboutus-team-photo {
    width: 300px;
    height: 300px;
}

.aboutus-team-name {
    margin-top: 19px;
    height: 20px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    overflow-y: hidden;
}

.aboutus-team-description {
    margin-top: 8px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;
    hyphens: auto;
}

.aboutus-social {
    display: flex;
    margin-top: 20px;
    list-style-type: none;
}

.aboutus-social-li {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid #666d89;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutus-social-fb {
    background-image: url(assets/images/facebook.png);
}

.aboutus-social-google {
    background-image: url(assets/images/googleplus.png);
}

.aboutus-social-twitter {
    background-image: url(assets/images/twitter.png);
}

.aboutus-social-linkedin {
    background-image: url(assets/images/linkedin.png);
}

.aboutus-social-li:hover {
    width: 32px;
    height: 32px;
    border: none;
}

.getaquote {
    height: 588px;
    padding-top: 60px;
    background-color: #f06c64;
    color: #f0d8d9;
    border-bottom: 6px solid #ea676b;
}

.getaquote h2 {
    color: #f0d8d9;
}

.getaquote h3 {
    color: #f0d8d9;
}

.getaquote-description {
    margin: 18px 40px 0 40px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    text-align: left;
    text-align: justify;
    hyphens: auto;
}

.getaquote-main {
    display: flex;
    margin-top: 42px;
}

.getaquote-form {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin-left: 40px;
}

.getaquote-form__text {
    display: flex;
    padding-left: 15px;
    width: 618px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: #d6564f;
    margin-bottom: 16px;
}

.getaquote-form__text::placeholder, .getaquote-form__textarea::placeholder  {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-weight: 400;
}

.getaquote-form__textarea {
    width: 618px;
    height: 195px;
    padding-top: 7px;
    padding-left: 15px;
    border-radius: 5px;
    border: none;
    background-color: #d6564f;
    resize: none;
}

.getaquote-contacts {
    margin-left: 20px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-align: justify;
}

.getaquote-contacts-description {
    margin: 10px 0 20px 0;
    width: 300px;
}

.getaquote-contacts-location {
    padding-left: 24px;
    background-image: url(assets/images/location.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 2px;
}

.getaquote-contacts-phone {
    padding-left: 24px;
    background-image: url(assets/images/phone.png);
    background-repeat: no-repeat;
    background-position-y: center;
}

.getaquote-contacts-phone a, .getaquote-contacts-mail a {
    color: #f0d8d9;
    text-decoration: none;
}

.getaquote-contacts-mail {
    padding-left: 24px;
    background-image: url(assets/images/mail.png);
    background-repeat: no-repeat;
    background-position-y: center;
}

.getaquote-form__button {
    width: 120px;
    height: 38px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f0d8d9;
}

.getaquote-form__button:hover {
    cursor: pointer;
    background-color: #d6564f;
}

.footer {
    height: 76px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
}

.copyright{
    color: #666d89;
    margin-top: 26px;
    margin-left: 8px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}